@{
    ViewData["Title"] = "Random sentences about programmers and engineers";
}
<h1>@ViewData["Title"].</h1>
<hr/>
<h1>Programmer's Sentence</h1>
<h2>@ViewData["ProgSentence"]</h2>
<h1>Engineers' Sentence</h1>
<h2>@ViewData["EngSentence"]</h2>
